@charset 'utf-8';

body {
  background-image: url('/image/index_background.png');
  background-position: center;
  background-size: cover;
  cursor: none;
  font-family: 'Mplus 1p', sans-serif;
  overflow: hidden;
}

.numeric {
  font-family: 'Share Tech Mono', monospace;
}

::-webkit-scrollbar {
  display: none;
}

.is-size-0 {
  font-size: 12rem;
}

.is-semitransparent {
  background-color: rgba(255, 255, 255, 0.7);
}

#header {
  font-weight: 800;
}

#title {
  height: 20vh;
}

#status {
  align-items: center;
  display: flex;
  height: 20vh;
  justify-content: center;
  margin: auto;
}

#left {
  font-weight: 800;
  height: 77vh;
}

#right {
  font-weight: 800;
  height: 77vh;
}

.modal-background {
  background-color: rgba(255, 0, 0, 0.7);
}

.modal-content {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  margin-top: 20%;
  padding: 50px;
  width: 80%;
}

.modal-japanese-instruction {
  font-size: 4rem;
  font-weight: 800;
}

.modal-english-instruction {
  font-size: 3rem;
  font-style: italic;
  font-weight: 600;
}
