@charset 'utf-8';
@import url(http://mplus-webfonts.sourceforge.jp/mplus_webfonts.css);

body {
  cursor: none;
  background-size: cover;
  background-position: center;
  background-image: url('//0.0.0.0:1997/image/index_background.png');
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

.is-size-0 {
  font-size: 6rem;
}

.is-semitransparent {
  background-color: rgba(255, 255, 255, 0.7);
}

#header {
  font-family: 'mplus-1p-bold';
}

#title {
  height: 20vh;
}

#status {
  height: 20vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#left {
  height: 77vh;
  font-family: 'mplus-1p-bold';
}

#currentNo {
  font-family: 'mplus-1mn-bold';
}

#right {
  height: 77vh;
  font-family: 'mplus-1p-bold';
}

#bookableTime {
  font-family: 'mplus-1mn-bold';
}

#currentTime {
  font-family: 'mplus-1mn-bold';
}
