@charset 'utf-8';
@import url(http://mplus-webfonts.sourceforge.jp/mplus_webfonts.css);

body {
  cursor: none;
}

.background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  box-sizing: border-box;

  width: 100vw;
  height: auto;
  min-height: 100vh;

  background-size: cover;
  background-position: center;
  background-image: url('//0.0.0.0:1997/image/index_background.png');
}

#header {
  font-family: 'mplus-1p-bold';
}

#title {
  height: 20vh;
}

#status {
  height: 20vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#left {
  height: 75vh;
  font-family: 'mplus-1p-bold';
}

#currentNo {
  font-family: 'mplus-1mn-bold';
}

#right {
  height: 75vh;
  font-family: 'mplus-1p-bold';
}

#bookableTime {
  font-family: 'mplus-1mn-bold';
}

#currentTime {
  font-family: 'mplus-1mn-bold';
}
